<section>

    <section data-background-color="#4C609F">
        <h1>Wallet Security Report</h1>
        Key
        Value
        Wallet 
        Data Vault
        Separation of Concerns
    </section>

    <section data-markdown>
        <textarea data-template>
        ##### Wallet Report
        ## Wallet / Data-Vault
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ### Wallet’s ONE JOB
        # KEEP KEYS SAFE!
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ## Should be stupid, safe and simple
        - Signing of data
        - Encrypt + decrypt data
        - Publishing transactions to witness networks
        - Ability to choose “high level of assurance”
        - Key recovery / security of the keys
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ## Data-Vault - KEEP DATA SAFE!
        Air Gapped on local machine
        All actions authorized though wallet
        General data governance (maximum flexibility -> we use mediawiki)
        Encrypt / Protect data
        Strong access control
        Share / Publish data
        Backup / Recovery
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            ##### Wallet Report
            ## Authentication assurance levels (AAL)
            How safe are the wallets to used?

            Relevant in relationship to BSI report

            https://id4d.worldbank.org/guide/levels-assurance-loas
            according to the  NIST Publication SP 1800-17.pdf 
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ### Wallet Assurance - Level 1
        ![](/images/various/metamask.png)
        The Metamask web-wallet alone has a low (level 1 ) level of assurance. 
        MetaMask is the most common browser blockchain wallet applications on the web and their developer teams strive for increased security to keep crypto-assets of their 10 Million+ Users safe.
        MetaMask requires a password to be unlocked
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ##### Wallet Report
        ## Wallet Assurance - Level 2
        Metamask offers integration with Hardware-Wallets which raises the level of assurance by having at least 2 authentication factors:
        e.g. a token with a password or pin for min. level 2
        the hardware-tokens are build to be tamper proof (Ledger, Trezor)
        E.g. Ledger X EAL5+ Certified (See Product-Page)
        Semiformally Designed and Tested
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        Example Ledger (Supported within AQUA)
        Product Page
        ![](/images/various/ledger.png)

        - EAL5: Semiformally Designed and Tested
        - [](https://en.wikipedia.org/wiki/Evaluation_Assurance_Level) 
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ##### Wallet Report
        ## Wallet Assurance - Level 3

        ![](/images/various/metamask-ledger-1tp.png)
        Metamask with PW
        One-Time-Password
        Hardware-Wallet 8PIN 

        IMPORTANT: The mentioned security model is not dependent on the security of Metamask. If Metamask is hacked it will not allow to compromise the model above as the security of the private key of the hardware token is preserved.

        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ##### Wallet Report
        ## Wallet Assurance - Level 3
        Other high security options
        Using multi-signature wallets
        Multi-signature wallets can be configured for extreme security 
        each security layer can be applied individually
        It is possible to integrate the different layers of security at once
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ##### Wallet Report
        ## Conclusion
        We disagree that we should abuse wallets to store data
        We need to introduce secure standard data vaults
        We showed how CURRENT technology gives us highest levels of assurance to manage data-vaults.
        </textarea>
    </section>

</section>
