<section>

    <section
        data-background-color="#4C609F">
        <h2>Clarifications</h2>
    </section>

    <section data-markdown>
        <textarea data-template>
        ## AQUA is
        # NOT!
        ### a blockchain
        #### (but sometimes uses one)
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ## Similarties
        - Underlying technologies similar to `git`
        - Uses cryptographic concepts found in blockchains
        - Hashing + Merkle Trees for appendable immutable records
        - Public &amp; Private Keys for signatures + encryption
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ## Differences
        - Works independent of cryptocurrencies
        - AQUA is not a distributed-ledger
        - One node is enough (but more is fun)
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ## AQUA Can use
        - Uses public-ledgers to witness hashes
        - Only uses blockchains for timestamping + verification
        - Could also publish to the *New-York-Times*
        </textarea>
    </section>

</section>
