<section>

    <section
        data-background-color="#4C609F"
        data-background-opacity="0.1"
        data-background-image="/images/aqua-white.svg"
        data-background-size="50%">
        <h4>What is the</h4>
        <h1>AQUA</h1> 
        <h4>Trusted Data Protocol?</h4>
    </section>

    <section
        data-markdown
        data-background-color="#4C609F">
        <textarea data-template>
        ## Starting Off
        Presenting a way to provide veriﬁable data to increase
        and measure impact of your actions.
        </textarea>
    </section>

    <section
        data-markdown
        data-background-color="#63A0FF"
        data-background-size="contain">
        <textarea data-template>
        ## Aqua Protocol Offers
        - Measures impact and increase organisational trust
        - Produces digital evidence for accountability
        - Builds strong foundations of trustworthy information
        </textarea>
    </section>

    <section
        data-markdown
        data-background-color="#D8E4F9"
        data-background-size="contain">
        <textarea data-template>
        ## Aqua Protocol Handles
        - Secure data storage
        - Transmission
        - Verification
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        # AQUA IS...
        - #### ❌ **not** a business
        - #### ✅ an open-source protocol
        - #### 🔭 for "Web3" 🙊 😆 and beyond...
        </textarea>
    </section>

</section>
