<section>

    <section
        data-background-color="#111111"
        data-background-opacity="0.1"
        data-background-image="/images/aqua-white.svg"
        data-background-size="50%">
        <h4>The role of</h4>
        <h1>veriﬁed data</h1> 
        <h4>in a digitized world</h4>
    </section>


    <section data-markdown>
        <textarea data-template>
        # Verified Data
        ## Is not new!
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            Professor DONALD E. KNUTH (1938) wrote in 1962
            ![](/images/various/knuth.png)
            ![](/images/various/knuth-book.png)
        </textarea>
    </section>


    <section data-markdown>
        <textarea data-template>
            “Intelligence: Finding an error in a Knuth text.\
            Stupidity: Cashing that $2.56 check you got.”
            ![](/images/various/knuth-check.png)
            — Seen in a Slashdot signature, quoted by Tess O'Connor
        </textarea>
    </section>


    <section>
        <h3>Historical progress</h3>
        <ul>
            <li><strong>1962</strong> Knuth E. Donald reward check 'A verifiable credential'</li>
            <li><strong>1995</strong> Surety (Company) secures documents using “New York Times” as a Paper-Ledger</li>
            <li><strong>2008</strong> Bitcoin public blockchain</li>
            <li><strong>2012</strong> Opentimestamps.org same as Surety on bitcoin</li>
            <li><strong>2014</strong> Ethereum (smart-contracts)</li>
            <li><strong>2021</strong> AQUA - self-issued, private by default but shareable</li>
        </ul>
        <a class="link-small" href="https://www.vice.com/en/article/j5nzx4/what-was-the-first-blockchain">
            vice.com/en/article/j5nzx4/what-was-the-first-blockchain
        </a>
    </section>

</section>
