<section>

    <section
        data-markdown
        data-background-color="#4C609F">
        <textarea data-template>
        # Self-Sovereign Identity
        #### Let’s talk about this...
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ### Let’s talk about SSI
        ![](/images/various/ssi-elephant.png)
        ### What is 'wrong'?
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ##### Let’s talk about SSI
        ## SELF-Sovereign!
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ##### Let’s talk about SSI 
        “Only the account owner can make a claim about his or her account.“\
        -First protocol rule of DA-SSI\
        Ensures individual is sovereign in account to claim association
        User decides to which account he/she wants to associate the claim
        Prohibits false unauthorized claims and claim abuse
        DID:ethr: compatible, could register a AQUA ‘as a postbox’
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ##### Let’s talk about SSI
        ## Issue a claim in AQUA
        Issuer AND Holder
        Trust
        Authority
        Verifier
        Trusts
        1. Accounted & Verified Data
        2. Confirm Data by signing it.
        3. Send verified data or  zero knowledge proof
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        ##### Let’s talk about SSI
        ## DID vs AQUA Conclusion
        We do not allow to issue a claim about somebody else!
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        Claim owner is requesting a trust authority to increase its trust by validating and signing it
        Trust authorities could request the issuer / owner to only validate and sign a claim under a set of their given conditions
        p.e.: for example that  they are listed in the wallets authorized for revocation of the claim in the Claim Registry
        </textarea>
    </section>

</section>
