<section>
    <h2>Contact</h2>
    <table>
        <tr>
            <td>
                <img src="/images/aqua.svg" height="150">
                <a href="https://matrix.to/#/#aqua-community:matrix.jembawan.com">
                    Chat (Matrix)
                </a>
                <a href="https://aqua.inblock.io">
                    https://aqua.inblock.io
                </a>
            </td>
            <td>
                <img src="/images/team/tim-bansemer.png" height="150">
                <a href="mailto:tim.bansemer@inblock.io">
                    tim.bansemer@inblock.io
                </a>
                <a href="https://inblock.io">
                    https://inblock.io
                </a>
            </td>
        </tr>
    </table>

    <img src="/images/team/inblock.png" height="150">
</section>
