<section
    data-background-color="#4C609F">
    <h2>Final Statements</h2>

    <section data-markdown>
        <textarea data-template>
        It is essential to advance research in the field of verified data, blockchain technologies and SSI to overcome problems in previous pilots
        to make the benefits of this technology available to business and public administration

        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
        Testing and use-cases applied in the university context is the best -low risk - environment for the further development of new technologies and their subsequent application in the economy and the public sector.
        </textarea>
    </section>


</section>
